.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

/* I hope w3c doesn't mind me taking some of their css :) */
/* I could easily add Bootstrap but there just wasn't time enough, sadly.*/
/* I should however start with it next time. Better yet http://foundation.zurb.com/sites/download.html/ */
table{
  width: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #4CAF50;
  color: white;
}

tr:hover{
  background-color: rgba(46, 252, 0, 0.27)
}

#tableContainer{
  margin-left: 10px;
  margin-right: 10px;
}

#intervalSelector{
  padding: 8px;
  margin-bottom: 20px;
  background-color: #4CAF50;
  color:white;
}

#intervalSelector > label {
  margin-left: 20px;
}
#intervalSelector > button{
  margin: 10px;
  margin-top:20px;
}

#tableContainer > div > div {
  display: inline;
}

.griddle-settings {
  margin-top: 20px;
}
.griddle-table{
  margin: 20px 0;
}

.griddleMap{
  border: 2px solid black;
}

.griddleMap > div > input, .griddleMap > div > div:first-of-type {
  display:inline;
}

.Parkman{
  background-color: black !important;
}

.EasyPark{
  background-color: red !important;
}

.Logos{
  background-color: green !important;
}

.providerCircle > div{
  margin-left:20px;
  width: 30px;
	height: 30px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

.providerCircle * {
  margin-top:20px;
  display: inline-block;
}